.post_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: none;
    margin: 20px;
}
.post_wrapper_avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.post_wrapper__likes {
    display: flex;
    align-items: center;

}

.post_wrapper__likes button{
    margin-left: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: greenyellow;


}