.user_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    background: rgba(56, 56, 87, 0.84);
    height: 150px;
    width: 600px;
    border-radius: 10px;

}

.user_preview {
    display: flex;
    flex-direction: column;
}

.user_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 40px;
    margin-left: 25px;
}

.user_preview button {
    width: 100px;
    height: 20px;
    color: black;
}

.user_preview img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}