.dialog_wrapper {
    width: 260px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #021f3b;
    margin-top: 20px;


}

.dialog_wrapper img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}