.sent_message_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #021f3b;
    border-radius:  15px;
    height: 40px;
    padding: 4px;
    background: rgba(79, 131, 180, 0.58);
}

.inbox_message_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #021f3b;
    border-radius: 15px;
    height: 40px;
    padding: 4px;
    background: rgba(49, 79, 108, 0.58);

}